#dots {
    display: grid;
    border: 2px solid rgb(236, 160, 27);
    border-radius: 6%;
}


#r0c0 {
    height: 100px;
    width: 100px;
}

#r0c1 {
    height: 100px;
    width: 100px;
}

.line {

    position: absolute;
    width: 1px;
    background-color: rgb(236, 160, 27);
    transform-origin: top left;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

h1 {
    /* Font imported from Google Fonts https://fonts.google.com/specimen/Press+Start+2P?selection.family=Poiret+One&query=press+start */
    font-family: "Bungee Spice"; 
    font-size: 50px;
}

/* reference - https://codepen.io/reulison/pen/WNNVPZq */
#restart-btn{
    text-align: center;
	display: inline-block;
    font-size: 20pt;
    font-family: 'Press Start 2p';
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
    margin-top: 20px;
}
#restart-btn:active {
	box-shadow: none;
	position: relative;
	top: .2em;

}